html,
body {
    padding: 0;
    margin: 0;
}


.centrado {
    background:  linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: contain ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.puntuaciones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
