html,
body {
    padding: 0;
    margin: 0;
}

.frame {
    background:  linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: contain ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spot{
    margin: 0;
    padding: 0;
    border: 10px #f0f0f0a9 solid;
}